<!DOCTYPE html>
<html lang="en" ng-app="js6">
  <head>
  	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script type="text/javascript" src="main.js"></script>
	<title>JS6 - Hide a Form</title>
</head>
<body ng-controller="js6Troller">

	<!-- EDIT PROFILE START -->

<!-- 	<form ng-show="formSwitch" ng-submit="updateProfile()" class="form-container">
		<h2>Edit Profile</h2>
		<label>Name:</label>
		<input type="text" ng-model="updateUser[0].name">
		<label>Image URL:</label>
		<input type="text" ng-model="updateUser[0].imageURL">
		<label>Bio:</label>
		<textarea ng-model="updateUser[0].bio"></textarea>
		<label>Favorite Books:</label>
		<input type="text" ng-model="updateUser[0].favoriteBooks">
		<label>Favorite JS Libraries:</label>
		<input type="text" ng-model="updateUser[0].favoriteJSLibraries">
		<button>Update Profile</button>
	</form> -->

	<!-- SHOW PROFILE START -->

<!-- 	<img class="user-image" ng-src="{{user[0].imageURL}}">
	<div class="content-container">

		<h1 class="user-title">{{user[0].name}}</h1>
		<button class="edit-button" ng-click="showEditForm()"><i class="fa fa-pencil" > {{editButtonLabel}}</i></button>
		<p class="content-text">{{user[0].bio}}</p>
		<p class="content-text">
			<i class="fa fa-book"></i> <strong>Favorite Books:</strong> {{user[0].favoriteBooks}}
		</p>
		<p class="content-text">
			<i class="fa fa-stack-overflow"></i> <strong>Favorite JS Libraries:</strong> {{user[0].favoriteJSLibraries}}
		</p>
	</div> -->

<!-- BONUS VERSION -->
	<!-- EDIT PROFILE START -->

	<form ng-show="formSwitch" class="form-container">
		<h2>Edit Profile</h2>
		<label>Name:</label>
		<input type="text" ng-model="user[0].name">
		<label>Bio:</label>
		<textarea ng-model="user[0].bio"></textarea>
		<label>Favorite Books:</label>
		<input type="text" ng-model="user[0].favoriteBooks">
		<label>Favorite JS Libraries:</label>
		<input type="text" ng-model="user[0].favoriteJSLibraries">
	</form>

	<!-- SHOW PROFILE START -->

	<img class="user-image" ng-src="{{user[0].imageURL}}">
	<div class="content-container">
		<h1 class="user-title">{{user[0].name}}</h1>
		<button class="edit-button" ng-click="showEditForm()"><i class="fa fa-pencil" > {{editButtonLabel}}</i></button>
		<p class="content-text">{{user[0].bio}}</p>
		<p class="content-text">
			<i class="fa fa-book"></i> <strong>Favorite Books:</strong> {{user[0].favoriteBooks}}
		</p>
		<p class="content-text">
			<i class="fa fa-stack-overflow"></i> <strong>Favorite JS Libraries:</strong> {{user[0].favoriteJSLibraries}}
		</p>
	</div>

</body>

</html>