/*EDIT PROFILE STYLES*/

.form-container {
	padding: 20px;
	background: lightblue;
}

.form-container label{
	font-weight: bold;
	display: block;
	padding: 5px;
}

.form-container input{
	margin: 5px;
	padding: 5px;
	width: 300px;
}

.form-container textarea{
	margin: 5px;
	padding: 5px;
	width: 300px;
	height: 150px;
}

.form-container button{
	display: block;
	width:	310px;
	padding: 10px;
	margin: 5px;
}

/*SHOW PROFILE STYLES*/

.user-image {
	float: left;
	padding: 10px;
}

.user-title {
	display: inline-block;
}

.content-container {
	max-width: 600px;
	overflow: hidden;
}

.edit-button {
	float:	right;
	margin-top: 30px;
	padding: 5px;
}